<h4 style="font-family: Montserrat, Arial, Verdana;font-size: 20px;">Raise Issue</h4>

<form [formGroup]="raiseissueForm">
    <div class="row">
        <div class="col-md-6 mathfont mt-2 mt-2">
            <label for="vpaId">VPA ID</label>
            <input type="text" name="vpaId" id="vpaId" class="form-control" placeholder="Enter VPA ID">
        </div>
        <div class="col-md-6 mathfont mt-2">
            <label for="deviceserialNO">Device Serial Number</label>
            <input type="text" name="deviceserialNO" id="deviceserialNO" class="form-control"
                placeholder="Enter Device Serial No">
        </div>
        <div class="col-md-6 mathfont mt-2">
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject" class="form-control"
                placeholder="Enter Subject of the Issue">
        </div>
        <div class="col-md-6 mathfont mt-2">
            <label for="Others">Others</label>
            <select name="others" id="others" class="form-select">
                <option value="others">Others</option>
            </select>
        </div>
        <div class="col-md-6 mathfont mt-2">
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" id="phone" class="form-control" placeholder="Enter Phone Number">
        </div>
        <div class="col-md-6 mathfont mt-2">
            <label for="selectCat">Select Category</label>
            <select name="others" id="others" class="form-select">
                <option value="select Category">Select Category</option>
            </select>
        </div>
        <div class="col-md-6 mathfont mt-2">
             <label for="selectSubCat">Select Sub-category</label>
            <select name="selectSubCat" id="selectSubCat" class="form-select">
                <option value="select Sub-category">Select Sub-category</option>
            </select>
        </div>
    </div>
<div class="row mt-2">
    <div class="col-md-6">
        <label for="description" class="mathfont">Description</label><br>
        <textarea name="description" id="description" class="form-control" rows="4" placeholder="Description"></textarea>
    </div>
    <div class="col-md-6 mathfont">
        <label for=""></label>
        <div class="card card-upload m-0 d-flex justify-content-center align-items-center">
        <p class="mathfont p-0 mb-2">Upload Document(s)</p>
        <p class="mathfont mathopacity p-0 mb-2">Or drop file(s) here</p>
        <p class="mathfont p-0 m-0 mathopacity">Accepted Formats : <b>PNG</b>, <b>JPG</b>, <b>PDF</b>, <b>MP4</b> or <b>JPEG</b></p>
            <input type="file" class="file" id="fileUpload" style="display: none;">
    </div>
    </div>
</div>

</form>

<div class="d-flex justify-content-end mt-3">
    <button class="btn btn-custom3">Submit</button>
    <button class="btn btn-cancel mx-2">Cancel</button>
</div>