<div class="container">
    <div class="row col-12 col-md-12">

        <div class="col-md-7 ">
            <div class="form_signin">
                <h3 class="Start_header">Phone Verification</h3>
                <p class="text-custom">To ensure your account security, please verify your phone number by entering the
                    OTP (One-Time Password) sent to your mobile device.</p>

                <div class="mt-3 mb-3 otp_class">
                    <ng-otp-input [config]="{ length: 6, allowNumbersOnly: true, inputStyles:{
                                        'border-color':'#D2D5DA','background-color': '#fff', 'width': '50px','height':'50px'
                                        } }" maxlength="6" (onInputChange)="onOtpChange($event)"></ng-otp-input>
                </div>
                <div class="" *ngIf="display!=0">
                    <p class="text-secondary">OTP will expire in <strong> 00:{{ this.display }} </strong> minutes.</p>
                </div>
                <div class="text-center" style="display:flex;justify-content: center;" *ngIf="display==0">
                    <div class="d-flex justify-content-center">
                        <p style="font-size: 17px;">Didn't get the OTP? &nbsp;</p>
                    </div>
                    <span class='disable-text fw-bold text-custom1' (click)="sendForgotPswOtp()">
                        Resend OTP</span>
                </div>


                <div class="d-flex btn-custom justify-content-between mt-1">
                    <button class="btn btn-custom text-white form-control" (click)="sendTempPasw();"
                        [disabled]="loading || otp.length!=6">
                        @if(!loading){<span>Verify OTP</span>}
                        @if(loading){<span><img [src]="loaderImg" class="loader" alt="loader">Please
                            wait..</span>}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <div class="d-flex justify-content-center">
                        <p class="forgetlogo"></p>
                    </div>
                    <p class="verify_OTP_img"></p>
                </div>
            </div>
        </div>
    </div>
</div>