.orange-bg {
    background-color: forestgreen;
    height: 4rem !important;
    display: flex;
    /* Use flexbox to control layout */
    // align-items: center; /* Vertically center the content */
    padding-left: 2rem;
    /* Space for the logo */
    position: relative;
  }

  
  .cylinder {
    width: 80%;
    height: 3.6rem;
    text-align: end;
    background-color: white;
    border-bottom-left-radius: 2.5rem;
    margin-left: auto;
    /* Align the white cylinder to the right */
  }
  
  .logo {
    height: 2.5rem;
    margin-top: 10px;
    margin-right: auto;
    /* Keep the logo on the left */
  }
  
  
  :host ::ng-deep .mat-drawer-inner-container {
    height: 98%;
    overflow: hidden;
  }
  
  :host ::ng-deep .mat-drawer-inner-container:hover {
    overflow: auto;
  }
  
  :host ::ng-deep .mat-drawer-inner-container {
    scrollbar-color: rgb(20, 20, 48);
  }
  
  .mainContainer {
    justify-content: baseline;
  }
  
  .example-container {
    width: auto;
    height: auto;
  }
  
  .mat-drawer-content {
    height: calc(100vh - 68px) !important;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    background-color: #ffffff;
  }
  
  .buttonresp {
    padding: 0rem 0.5rem;
  }
  
  .active {
    background-color: forestgreen !important;
    /* Orange background */
    color: white !important;
    border-radius: 0 20px 20px 0;
    /* Rounded right side */
    border-left: 4px solid red;
  }
  
  .active1 {
    color: white !important;
  }
  
  .newButtonClass {
    width: 13rem;
    padding: 8px 10px 8px 10px;
    gap: 8px;
    border-radius: 22px;
    opacity: 0px;
    background-color: white !important;
  }
  
  .buttonClasshov {
    background-color: #ffffff;
    padding: 5px;
  }
  
  
  
  .toolbar {
    background-color: #ffffff;
    position: sticky !important;
    left: 0;
    top: 0;
    border: 0.25px solid #e2dcdc;
  }
  
  .mr-4 {
    margin-right: 4rem !important;
  }
  
  .mr-3 {
    margin-right: 3rem !important;
  }
  
  .mr-2 {
    margin-right: 2rem !important;
  }
  
  .mr-1 {
    margin-right: 1rem !important;
  }
  
  .ml-4 {
    margin-left: 4rem !important;
  }
  
  .ml-3 {
    margin-left: 3rem !important;
  }
  
  .ml-2 {
    margin-left: 2rem !important;
  }
  
  .ml-1 {
    margin-left: 1rem !important;
  }
  
  .brandLogo {
    border-radius: 50%;
  }
  .input-group {
    max-width: 400px; /* Set a maximum width */
  }
  
  .form-select {
    width: 120px; /* Set dropdown width */
  }
  
  .form-control {
    flex-grow: 1; /* Makes input take remaining space */
  }
  
  mat-sidenav {
    width: 260px;
    box-shadow: gainsboro 4px 4px 4px -1px;
    background-color: white;
  }
  
  .brandLogo_Hover_Name {
    position: absolute;
    left: 7.5rem;
  }
  
  .vertical-menu {
    border: none !important;
    outline: none !important;
  }
  
  .menuicon {
    cursor: pointer;
    color: forestgreen !important;
  
  }
  .menuicon1 {
    cursor: pointer;
    color: black;
  }
  
  
  .font-color {
    color: black;
  }
  
  .mr5 {
    margin-left: 2vh;
    margin-right: 10vh;
  }
  
  .welcomeSpace {
    margin-top: 1rem;
  }
  
  .autoresize {
    justify-content: flex;
  }
  
  .sidenavFontItem {
    margin-top: 4rem;
  }
  
  
  .active-list-item {
    color: #ffffff !important;
  }
  
  
  .mat-expansion-panel-header {
    padding: 0px 5px;
    height: 40px;
  }
  
  .mat-expansion-panel-header.mat-expanded:hover {
    background-color: forestgreen !important;
    color: #ffffff !important;
  }
  
  .mat-expansion-panel-header.mat-expanded {
    height: 40px;
  }
  
  .mat-expansion-panel-header,
  .mat-expansion-panel {
    background-color: white;
    margin-top: 2% !important;
  }
  
  .mat-expansion-panel {
    margin: 0px 10px 0px 10px;
  }
  
  .mat-list-item {
    border-radius: 25px;
    background-color: white;
  }
  
  .mat-list-item:hover {
    border-radius: 25px;
    background-color: white;
  }
  
  .mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0 2px;
  }
  
  .mat-list-base .mat-list-item {
    height: 35px;
  }
  
  .singleElement {
    margin: 0px;
    border-radius: 25px;
    height: 40px;
  }
  
  .text-nowrap {
    font-size: larger;
    font-family: montserrat, arial, verdana;
  }
  
  .singleElement:hover {
    background-color: forestgreen;
    color: #ffffff !important;
  }
  
  .singleElementchild {
    padding: 5px 0px 5px 0px;
  }
  
  .childIcon {
    font-size: 15px;
    line-height: 1.5em;
  }
  
  ::ng-deep .mat-expansion-indicator::after {
    color: #ffffff;
  
  }
  
  .midItems {
    display: flex;
    align-items: center;
  }
  
  .shadow-footer {
    position: fixed;
    bottom: 0;
  
  }
  
  .dropdown-toggle::after {
    margin-top: 0.6em;
    color: white;
  }
  
  /* width */
  ::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-thumb {
    background: #5c5d5e;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-thumb:hover {
    background: forestgreen;
    color: white !important;
  }
  
  .btn-group .dropdown-menu {
    transform: translateY(3px) !important;
  }
  
  
  
  /* Modal popup2 start */
  
  .css_modall {
    display: none;
    position: fixed;
    z-index: 99;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modall_cnt {
    padding-bottom: 3%;
    margin: 0;
    font-family: auto;
    width: 465px;
  }
  
  .modal_topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 43px;
    background: #3f51b5;
    color: white;
    margin: 1px;
    padding: 1%;
  }
  
  .modal_title {
    font-size: 17px;
  }
  
  .close {
    display: flex;
    text-align: center;
    color: white;
  }
  
  .modal_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal_form {
    color: black;
    margin: 1% 5%;
  }
  
  .main_field {
    margin: 0;
  }
  
  .prt_field {
    display: flex;
    flex-direction: row;
  }
  
  .field {
    border: 1px solid lightgray;
    border-radius: 3px 0 0 3px;
    width: 100%;
    height: 35px;
    border-right: 0;
  }
  
  .field2 {
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 100%;
    height: 35px;
  }
  
  .star {
    color: red;
  }
  
  .pass_show {
    border: 1px solid lightgray;
    border-radius: 0 3px 3px 0;
    height: 35px;
    width: 40px;
    text-align: center;
    /* margin: 0; */
    padding: 6px;
    border-left: 0;
  
  }
  
  .otp_btn {
    border: none;
    float: right;
  }
  
  .ch_btn {
    border: none;
    background: #3f51b5;
    color: white;
  }
  
  .error_pass {
    display: flex;
    flex-direction: column;
    color: red;
    text-align: left;
    // position: absolute;
  }
  
  .disable:disabled {
    cursor: not-allowed;
  }
  
  .brandImage {
    width: 45px;
    height: 45px;
    padding: 2px;
  }
  
  /* Modal popup end */
  
  @media screen and (max-width: 500px) {
    .modall_cnt {
      width: 90% !important;
    }
  
    .brandImage {
      width: 45px;
      height: 45px;
      padding: 2px;
    }
  }
  
  .bg-blue {
    background: white;
  }
  
  .textwhite {
    color: white;
  }
  
  .textwhite1 {
    color: #4A317E;
  }
  
  .mobileflexparent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  ::ng-deep .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width: 990px) {
    .welcomeSpace {
      margin-top: 3rem;
    }
  
    .dropNav {
      // background-color: white;
      border-bottom: 1px solid #ddd;
      background-color: #eee;
    }
  
    .navbar {
      --bs-navbar-padding-y: 0rem !important;
    }
  
    .pading {
      padding: 0.5rem !important;
    }
  
    .buttonresp {
      background-color: #ffffff;
      border: 1px solid #798ae976;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
  
    .textwhite {
      color: #3f51b5 !important;
    }
  
    .dropNav .menuicon {
      color: #3f51b5 !important;
    }
  
    .btnpadding {
      padding: 0rem 1rem !important;
    }
  }
  
  @media screen and (max-width: 767px) {
    .mobileflex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .mobileflexparent {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .welcomeSpace {
      margin-top: 3rem;
    }
  }
  
  
  .sidenav-btn {
    background-color: #fff00000;
    color: black;
    font-family: Inter;
  }
  
  .sidenav-btn:hover {
    color: white !important;
    font-family: Inter;
  }
  
  .sidenav-btn-active {
    color: white;
    font-family: Inter;
  }
  
  .mat-expansion-panel-header {
    padding: 0px 5px;
    height: 40px;
  }
  
  .mat-expansion-panel-header:hover {
    background-color: forestgreen !important;
    color: #ffffff !important;
  }
  
  .mat-expansion-panel-header.mat-expanded {
    height: 40px;
  }
  
  .mat-expansion-panel-header.mat-expanded:hover {
    background-color: forestgreen !important;
    /* Orange background */
    color: white !important;
  }
  
  .mat-expansion-panel-header,
  .mat-expansion-panel {
    background-color: white;
  }
  
  .mat-expansion-panel {
    margin: 0px 10px 0px 10px;
  }
  
  .singleElement {
    margin: 0px;
    border-radius: 25px;
    height: 40px;
  }
  
  .singleElement:hover {
    background-color: forestgreen !important;
    color: #ffffff !important;
  }
  
  .singleElementchild {
    padding: 5px 0px 5px 0px;
  }
  
  .childIcon {
    font-size: 15px;
    line-height: 1.5em;
  }
  
  ::ng-deep .mat-expansion-indicator::after {
    color: #ffffff;
  }
  
  
  .childItemsParent {
    margin: 0rem 0.3rem;
    cursor: pointer;
  }
  
  .childItems {
    margin: 0.3rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .childItems:hover {
    background-color: forestgreen !important;
    color: #ffffff !important;
  }
  
  .disname {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding: 0rem 0.5rem;
    font-size: medium;
  }
  
  .m-0 {
    margin: 3px !important;
  }
  
  @media screen and (max-width: 350px) {
    :host ::ng-deep .mat-drawer-inner-container {
      height: 78%;
    }
  
    .brandName {
      text-overflow: ellipsis;
      max-width: 120px;
      overflow: hidden;
      white-space: nowrap;
    }
  
    .brandImage {
      margin-right: 0px !important;
      margin-left: 5px !important;
    }
  
    .m0 {
      margin: 0px !important;
    }
  }
  
  .toggleIcon {
    color: white;
    // margin-left: 10px;
  }
  
  .showNavBtn {
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top-left-radius: 25px;
    cursor: pointer;
    z-index: 999;
  }
  
  :host ::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
  }
  
  :host ::ng-deep .p-dialog-header {
    justify-content: center !important;
  }
  
  .primetab{
    border: none !important;
  }

  .btncolor{
    background-color: forestgreen !important;
  }

  .mat-sidenav-content {
    overflow-y: auto;
    scrollbar-width: none;
}

.mat-sidenav-content::-webkit-scrollbar {
    display: none;
  }
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
.btn-custom{
  background-color: forestgreen;
  color: white;
}

.iconclass {
  position: absolute;
  top: 18px;
  right: 9px;
  z-index: 999;
  color: forestgreen !important;
}
.timer{
  color: forestgreen;
}
.input-group-wrapper {
  display: flex;
  align-items: center;
  background: white;
  // border: 1px solid #ddd;
  border-radius: 8px;
  // padding: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  margin-left: 20rem;
  margin-right: 3rem;
  height: 2rem;
}

.form-select,
.search-input {
  border: none;
  // padding: 0.5rem;
  font-size: 1rem;
  outline: none;
}

.form-select {
  width: 15rem;
  border-right: 1px solid #ddd;
  height: 2rem;
}

.search-input {
  width: 15rem;
  height: 2rem;
}

.profile-button {
  margin-left: 0.5rem;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #555;
}

.profile-button mat-icon {
  font-size: 1.5rem;
}

.form-select:focus,
.search-input:focus {
  border-color: #007bff;
  box-shadow: inset 0 0 0 2px rgba(0, 123, 255, 0.25);
}


