.main_container{
    padding: 10px;
}


.inps_data{
    // width: 25rem;
}

.inps_set{
    // padding-left: 1rem;
}

.btns{
    display: flex;
    flex-direction: column;
    
}

.btn{
    margin: 10px;
    background-color:#ff6b11 ;
    color: white;
}

.labelName{
    font-family: montserrat, arial, verdana;
}

.success_img{
    display: flex;
    justify-content: center;
}

.show_row{
    text-align: center;
    width: 25rem;
    border: 1px solid rgb(214, 197, 197);
}