<div class="main_container">
    <p class="heading">Device List</p>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
            [(ngModel)]="selectedOption" value="date" (click)="showTable_on_radio()" />
        <label class="form-check-label" for="inlineRadio1">Search by Date Range</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
            [(ngModel)]="selectedOption" value="serialNumber" (click)="showTable_on_radio()" />
        <label class="form-check-label" for="inlineRadio2">Search by Serial Number</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
            [(ngModel)]="selectedOption" value="vpaId" (click)="showTable_on_radio()" />
        <label class="form-check-label" for="inlineRadio3">Search by VPA ID</label>
    </div>

    @if(selectedOption === 'date'){
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <p>Start Date</p>
                <mat-form-field appearance="outline">
                    <mat-label>MM/DD/YYYY</mat-label>
                    <input matInput [matDatepicker]="picker" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-auto">
                <p>End Date</p>
                <mat-form-field appearance="outline">
                    <mat-label>MM/DD/YYYY</mat-label>
                    <input matInput [matDatepicker]="picker1" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-custom mb-2" (click)="onSubmit()">
                    Submit
                </button>
            </div>
        </div>
    </form>
    @if(showTable){
    <div>
        <app-data-table [columnss]="columns" [component]="component" [tableData]="dataForTable"></app-data-table>
    </div>
    }
    } @if(selectedOption === 'serialNumber'){
    <form>
        <div class="form-row1">
            <mat-form-field class="matformfield_input" appearance="outline">
                <input matInput type="text" placeholder="Search here" />
                <div mat-icon-button matSuffix [attr.aria-label]="'Search'">
                    <mat-icon class="icon">search</mat-icon>
                </div>
            </mat-form-field>

            <div class="col-auto">
                <button type="submit" class="btn btn-custom3 mb-2" (click)="onTransaction_SlNO_Submit()">
                    Submit
                </button>
            </div>
        </div>
    </form>
    @if(showTable_SlNo){
    <div>
        <app-data-table [columnss]="columns" [component]="component" [tableData]="dataForTable_slNo"></app-data-table>
    </div>
    }
    } @if(selectedOption === 'vpaId'){
    <form>
        <div class="form-row1">
            <mat-form-field class="matformfield_input" appearance="outline">
                <input matInput type="text" placeholder="Search here" />
                <div mat-icon-button matSuffix [attr.aria-label]="'Search'">
                    <mat-icon class="icon">search</mat-icon>
                </div>
            </mat-form-field>

            <div class="col-auto">
                <button type="submit" class="btn btn-custom3 mb-2" (click)="onTransaction_VpaId_Submit()">
                    Submit
                </button>
            </div>
        </div>
    </form>
    @if(showTable_vpa){
    <div>
        <app-data-table [columnss]="columns" [component]="component" [tableData]="dataForTable_vpaId"></app-data-table>
    </div>
    }
    }
</div>