<h4 class="customTextColor">Create Merchant</h4>

<div class="row mt-3">
    <div class="col-md-2 radio-item">
        <input type="radio" name="merchant" id="merchantsingle" (click)="RadioMerchant('1')" checked><label
            for="merchantsingle" class="createTag" (click)="RadioMerchant('1')">Single</label>
    </div>
    <div class="col-md-2 radio-item">
        <input type="radio" name="merchant" id="merchantbulk" (click)="RadioMerchant('2')"><label for="merchantbulk"
            class="createTag" (click)="RadioMerchant('2')">Bulk</label>
    </div>
</div>

<div class="mt-2" *ngIf="showSingle">
    <form [formGroup]="merchantForm">
        <div class="row">
            <div class="col-md-6 mt-3 createTag">
                <label for="MercantName" class="mt-2 mb-2">Merchant Name</label>
                <div class="input-box">
                    <input type="text" name="" id="" class="form-control " placeholder="Enter Merchant Name" [ngClass]="!merchantForm.get('merchantName').valid && merchantForm.get('merchantName').touched ?'btn_border':'btn_border2' "
                        formControlName="merchantName">
                </div>
                <div class="text-danger poscustom mt-1"
                    *ngIf="merchantForm.get('merchantName')?.hasError('required') && merchantForm.get('merchantName')?.touched">
                    Merchant Name is Required.</div>

            </div>
            <div class="col-md-6 mt-3 createTag">
                <label for="mobile" class="mt-2 mb-2">Mobile Number</label>
                <div class="input-box">
                    <input type="text" class="form-control" [ngClass]="!merchantForm.get('mobile').valid && merchantForm.get('mobile').touched ?'btn_border':'btn_border2' " placeholder="Enter Mobile Number" maxlength="10"
                        formControlName="mobile">
                </div>
                <div class="text-danger poscustom  mt-1"
                    *ngIf="merchantForm.get('mobile')?.hasError('required') && merchantForm.get('mobile')?.touched">
                    Mobile Number is Required.</div>
                <div class="text-danger poscustom mt-1" *ngIf="merchantForm.get('mobile')?.hasError('pattern')">Please
                    Enter Valid Mobile Number.
                </div>
            </div>
            <div class="col-md-6 mt-3 createTag">
                <label for="email" class="mt-2 mb-2">Email</label>
                <div class="input-box">
                    <input type="text" class="form-control " placeholder="Enter Email" [ngClass]="!merchantForm.get('email').valid && merchantForm.get('email').touched ?'btn_border':'btn_border2' " formControlName="email">
                </div>
                <div class="text-danger poscustom  mt-1"
                    *ngIf="merchantForm.get('email')?.hasError('required') && merchantForm.get('email')?.touched">Email
                    is Required.</div>
                <div class="text-danger poscustom mt-1" *ngIf="merchantForm.get('email')?.hasError('pattern')">Please
                    Enter Valid Email.</div>
            </div>
            <div class="col-md-6 mt-3 createTag">
                <label for="vpa" class="mt-2 mb-2">VPA ID</label>
                <div class="input-box">
                    <input type="text" class="form-control " placeholder="Enter VPA ID" [ngClass]="!merchantForm.get('vpaId').valid && merchantForm.get('vpaId').touched ?'btn_border':'btn_border2' " formControlName="vpaId">
                </div>
                <div class="text-danger poscustom mt-1"
                    *ngIf="merchantForm.get('vpaId')?.hasError('required') && merchantForm.get('vpaId')?.touched">VPA ID
                    is Required.</div>

            </div>
            <div class="col-md-6 mt-3 createTag">
                <label for="qrstring" class="mt-2 mb-2">QR String</label>
                <div class="input-box">
                    <input type="text" class="form-control" placeholder="Enter QR String" [ngClass]="!merchantForm.get('qrString').valid && merchantForm.get('qrString').touched ?'btn_border':'btn_border2' " formControlName="qrString">
                </div>
                <div class="text-danger poscustom mt-1"
                    *ngIf="merchantForm.get('qrString')?.hasError('required') && merchantForm.get('qrString')?.touched">
                    QR String is Required.</div>

            </div>
            <div class="col-md-6 mt-3 createTag">
                <label for="mda" class="mt-2 mb-2">Mechant Delivery Address</label>
                <div class="input-box">
                    <input type="text" class="form-control" [ngClass]="!merchantForm.get('merchantAdd').valid && merchantForm.get('merchantAdd').touched ?'btn_border':'btn_border2' " placeholder="Enter Mechant Delivery Address"
                        formControlName="merchantAdd">
                </div>
                <div class="text-danger poscustom mt-1"
                    *ngIf="merchantForm.get('merchantAdd')?.hasError('required') && merchantForm.get('merchantAdd')?.touched">
                    Merchant Delivery Address is Required.</div>

            </div>
            <div class="col-md-6 mt-3 createTag">
                <label for="pincode" class="mt-2 mb-2">Pincode</label>
                <div class="input-box">
                    <input type="text" class="form-control" [ngClass]="!merchantForm.get('pincode').valid && merchantForm.get('pincode').touched ?'btn_border':'btn_border2' "  placeholder="Enter Pincode" maxlength="6"
                        formControlName="pincode" (input)=getState($event)>
                </div>
                <div class="text-danger poscustom mt-1"
                    *ngIf="merchantForm.get('pincode')?.hasError('required') && merchantForm.get('pincode')?.touched">
                    Pincode is Required.</div>

            </div>
            <div class="col-md-6 mt-3 createTag">
                <label for="state" class="mt-2 mb-2">State</label>
                <div class="input-box">
                    <input type="text" class="form-control" [ngClass]="!merchantForm.get('state').valid && merchantForm.get('state').touched ?'btn_border':'btn_border2' " placeholder="Enter State" formControlName="state" readonly>
                </div>
                <div class="text-danger poscustom mt-1"
                    *ngIf="merchantForm.get('state')?.hasError('required') && merchantForm.get('state')?.touched">State
                    is Required.</div>

            </div>
            <div class="col-md-6 mt-3 createTag">
                <label for="state" class="mt-2 mb-2">Type Of Device</label>
                <div class="input-box">
                    <select name="typeDevice" [ngClass]="!merchantForm.get('typeDevice').valid && merchantForm.get('typeDevice').touched ?'btn_border':'btn_border2' " id="typeDevice" class="form-select  mt-2" formControlName="typeDevice">
                        <option value="" disabled>Type Of Device</option>
                        <option value="1a">Sound Box (UPI QR) Without Display</option>
                        <option value="1b">Sound Box (UPI QR) With Display</option>
                        <option value="2"> Sound Box (UPI QR) With NFC and Dynamic QR</option>
                        <option value="3a"> Sound Box (UPI QR) with NFC (Without Display)</option>
                        <option value="3b"> Sound Box (UPI QR) with NFC (With Display)</option>
                    </select>
                </div>
                <div class="text-danger poscustom mt-1"
                    *ngIf="merchantForm.get('typeDevice')?.hasError('required') && merchantForm.get('typeDevice')?.touched">Type Of Device
                    is Required.</div>

            </div>
        </div>
        <div class="d-flex justify-content-end mt-4">
            <button class="btn btn-custom3" (click)="Create_Merchant()"
                [disabled]="merchantForm.invalid">Create</button>
            <button class="btn btn-cancel mx-2" (click)="CancelForm()">Cancel</button>
        </div>
    </form>
</div>

<div class="mt-2" *ngIf="!showSingle">
    <div class="d-flex justify-content-center mt-3">
        <img src="../../../../assets/images/merchant/Frame 1171276956.png" alt="">
    </div>
    <div class="d-flex justify-content-center mt-2">
        <button class="btn btn-upload mx-3">Upload</button>
        <button class="btn btn-reset">Reset</button>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <span class="uploadtag">Please upload only Excel/CSV File (Bulk_mechant_onboarding.xlsx)*</span>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-download-sample"><span><img src="../../../../assets/images/merchant/Left icon.png"
                    alt="">Download Sample File</span></button>
    </div>

    <div class="d-flex justify-content-end mt-5">
        <button class="btn btn-custom3">Upload</button>
        <button class="btn btn-cancel mx-2">Cancel</button>
    </div>

</div>