<div class="main_container">
  <div class="header">
    <h4 class="customTextColor">Show user</h4>
  </div>
  <div class="header_option">
    <div class="form-check"  *ngIf="userType=='ROLE_ADMIN'">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
        (click)="bankuser_option()"
      />
      <label class="form-check-label mathfont" for="flexRadioDefault1">
        Bank User
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault2"
        (click)="merchantuser_option()"
      />
      <label class="form-check-label mathfont" for="flexRadioDefault2"> Merchant </label>
    </div>    
  </div>
  @if(!bankUser){
    <div class="sub_header">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault1"
          id="flexRadioDefault3"
          (click)="searchDate()"
          checked
        />
        <label class="form-check-label mathfont" for="flexRadioDefault3">
          Search by Date Range
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault1"
          id="flexRadioDefault4"
          (click)="searchSrno()"
        />
        <label class="form-check-label  mathfont" for="flexRadioDefault4">
          Search by Serial Number
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault1"
          id="flexRadioDefault5"
          (click)="searchVpano()"

        />
        <label class="form-check-label mathfont" for="flexRadioDefault5">
          Search by VPI ID
        </label>
      </div>  
    </div>
  }
  <div class="showuser_img" *ngIf="showImage">
    <img src="../../../../assets/images/admin/showuser_1st.png" alt="">
  </div>
  @if(selectedOption === 'serialNumber'){
    <form>
      <div class="form-row1">
        <mat-form-field class="matformfield_input" appearance="outline">
          <input matInput type="text" placeholder="Search here" />
          <div mat-icon-button matSuffix [attr.aria-label]="'Search'">
            <mat-icon class="icon">search</mat-icon>
          </div>
        </mat-form-field>
  
        <div class="col-auto">
          <button type="button" class="btn btn-custom5 mb-2 mathfont" (click)="showTable()">Submit</button>
        </div>
      </div>
    </form>
  }
  @if(selectedOption === 'VPIid'){
    <form>
      <div class="form-row1">
        <mat-form-field class="matformfield_input" appearance="outline">
          <input matInput type="text" placeholder="Search here" />
          <div mat-icon-button matSuffix [attr.aria-label]="'Search'">
            <mat-icon class="icon">search</mat-icon>
          </div>
        </mat-form-field>  
        <div class="col-auto">
          <button type="button" class="btn btn-custom5 mathfont" (click)="showTable()">Submit</button>
        </div>
      </div>
    </form>
  }
  @if(selectedOption === 'dateRange'){
    <div class="formData" *ngIf="!showImage">
      <form [formGroup]="showUserForm">
          <div class="form-row align-items-center row">
            <div class="col-auto col-md-3 mx-2">
              <p class="mathfont">Start Date</p>
              <mat-form-field appearance="outline">
                <mat-label>MM/DD/YYYY</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate" />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-auto col-md-3 mx-2">
              <p class="mathfont">End Date</p>
              <mat-form-field appearance="outline">
                <mat-label>MM/DD/YYYY</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="endDate" />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-auto col-md-2">
              <button type="button" class="btn btn-custom mb-2 mathfont" (click)="showTable()">Submit</button>
            </div>
          </div>
        </form>
    </div>

  }
    @if(showTableData && dataForTable.length > 0){
        <ng-container >
          <app-showuser-dtable [tableData]="dataForTable" [columnss]="columns"></app-showuser-dtable>
        </ng-container>
    }
</div>
