.customFlessClass {
  justify-content: space-between;
}

.customText {
  font-family: montserrat, arial, verdana;
  font-weight: 500;
}
.customText1 {
  font-family: montserrat, arial, verdana;
  font-weight: 500;
  font-size: x-large;
}

.menuicon {
  cursor: pointer;
  color: forestgreen !important;

}

.material-icons {
  display: inline-flex;
  vertical-align: text-bottom;
}

.customWidth {
  width: 9rem;
}

.customButton {
  background-color: forestgreen;
  color: white;
}


::ng-deep .form-check-input:checked {
  background-color: forestgreen;
  border-color: forestgreen !important;
}

.form-check-input:focus {
  outline: none;
  box-shadow: none;
}

.mathfont {
  font-family: montserrat, arial, verdana;
}

.btn-custom3 {
  width: 7rem;
  height: 2.5rem;
  color: white;
  background: #ff6b11;
  border-radius: 8px;
}
.btn-custom-close{
  width: 90%;
  height: 2.5rem;
  color: white;
  background: #ff6b11;
  border-radius: 8px;

}

.btn-cancel {
  width: 7rem;
  height: 2.5rem;
  border-radius: 8px;
  border: 1px solid rgba(28, 28, 28, 0.3);
}

.btn-upload {
  width: 7rem;
  height: 2.5rem;
  color: white;
  background: #ff6b11;
}

.btn-reset {
  width: 7rem;
  height: 2.5rem;
  color: #ff6b11;
  background: white;
  border: 1px solid #ff6b11;
}

.btn-download-sample{
  background: rgba(85, 85, 85, 1);
  color: white;
  font-size: 14px;
  width: 207px;
  height: 36px;
}

.customFlkk{
  justify-content: end;
}


/* Animated Input Field */
.animated-input {
  width: 100%;
  /* Full width within column */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #6D6D6D;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.animated-input:hover,
.animated-input:focus {
  box-shadow: 0 4px 10px rgba(250, 141, 39, 0.877),
    0 8px 15px rgba(255, 136, 0, 0.5);
  transform: translateY(-3px);
}

.poscustom {
  position: absolute;
}

.customTextColor1 {
  font-size: 1rem;
  color: #3D3D3D;
  font-family: montserrat, arial, verdana;
}

.customTextColor {
  color: #383737;
  font-weight: 600;
  font-family: montserrat, arial, verdana;
}