
<div class="container">
    <div class="row col-12 col-md-12">

        <div class="col-md-6 ">
            <div class="form_signin">
                <h3 class="Start_header">Verification Success!</h3>
                <p class="text-custom">Your mobile number has been successfully verified.You’ll receive your login credentials via registered Email address.The login credentials will be shared with you in your email. So keep checking your inbox.</p>       
                <button class="btn btn-custom text-white form-control"  (click)="goToLogin()"
                >Login
                    
            </button>
            
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <div class="d-flex justify-content-center">
                        <p class="forgetlogo"></p>
                    </div>
                    <p class="success-img"></p>
                </div>
            </div>
        </div>
    </div>
</div>