@if(true){
    <div class="text-center">
        <!-- <div class="">
            <h3 class="customTextColor">Welcome to Bank Of Baroda</h3>
        </div> -->
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="height: 9rem;">
                        <div class="card-body">
                            <div class="d-flex customFlessClass">
                                <div class="customWidth">
                                    <span class="customText">Total Number Of Devices</span>
                                </div>
                                <div class="">
                                    <mat-icon class="menuicon">devices</mat-icon>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="">
                                    <span><strong class="mr-4">12,22,000</strong><mat-icon
                                            class="menuicon material-icons mx-2">north_west</mat-icon><span>+9%</span>
                                    </span>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="height: 9rem;">
                        <div class="card-body">
                            <div class="d-flex customFlessClass">
                                <div class="customWidth">
                                    <span class="customText">Number Of Transactions Today</span>
                                </div>
                                <div class="">
                                    <mat-icon class="menuicon">devices</mat-icon>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="">
                                    <span><strong class="mr-4">50,806</strong><mat-icon
                                            class="menuicon material-icons mx-2">north_west</mat-icon><span>+11%</span>
                                    </span>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="height: 9rem;">
                        <div class="card-body">
                            <div class="d-flex customFlessClass">
                                <div class="customWidth">
                                    <span class="customText">Total Mapped Devices</span>
                                </div>
                                <div class="">
                                    <mat-icon class="menuicon">devices</mat-icon>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="">
                                    <span><strong class="mr-4">1245</strong><mat-icon
                                            class="menuicon material-icons mx-2">north_west</mat-icon><span>+9%</span>
                                    </span>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="height: 9rem;">
                        <div class="card-body">
                            <div class="d-flex customFlessClass">
                                <div class="customWidth">
                                    <span class="customText">Total Unmapped Device </span>
                                </div>
                                <div class="">
                                    <mat-icon class="menuicon">devices</mat-icon>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex customFlessClass">
                                    <div class="">
                                        <span><strong class="mr-4">75</strong></span>
                                    </div>
                                    <div class="">
                                        <mat-icon
                                            class="menuicon material-icons mx-2">south_east </mat-icon><span>1%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="height: 9rem;">
                        <div class="card-body">
                            <div class="d-flex customFlessClass">
                                <div class="customWidth">
                                    <span class="customText">Total Number Of Devices</span>
                                </div>
                                <div class="">
                                    <mat-icon class="menuicon">devices</mat-icon>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="">
                                    <span><strong class="mr-4">12,22,000</strong><mat-icon
                                            class="menuicon material-icons mx-2">north_west</mat-icon><span>+9%</span>
                                    </span>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="height: 9rem;">
                        <div class="card-body">
                            <div class="d-flex customFlessClass">
                                <div class="customWidth">
                                    <span class="customText">Number Of Transactions Today</span>
                                </div>
                                <div class="">
                                    <mat-icon class="menuicon">devices</mat-icon>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="">
                                    <span><strong class="mr-4">50,806</strong><mat-icon
                                            class="menuicon material-icons mx-2">north_west</mat-icon><span>+11%</span>
                                    </span>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="height: 9rem;">
                        <div class="card-body">
                            <div class="d-flex customFlessClass">
                                <div class="customWidth">
                                    <span class="customText">Total Mapped Devices</span>
                                </div>
                                <div class="">
                                    <mat-icon class="menuicon">devices</mat-icon>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="">
                                    <span><strong class="mr-4">1245</strong><mat-icon
                                            class="menuicon material-icons mx-2">north_west</mat-icon><span>+9%</span>
                                    </span>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="height: 9rem;">
                        <div class="card-body">
                            <div class="d-flex customFlessClass">
                                <div class="customWidth">
                                    <span class="customText">Total Unmapped Device </span>
                                </div>
                                <div class="">
                                    <mat-icon class="menuicon">devices</mat-icon>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="d-flex customFlessClass">
                                    <div class="">
                                        <span><strong class="mr-4">75</strong></span>
                                    </div>
                                    <div class="">
                                        <mat-icon
                                            class="menuicon material-icons mx-2">south_east </mat-icon><span>1%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="d-flex justify-content-center">
            <div class="">
                <img [src]="dashboardimg" height="250" alt="Dashboard">
            </div>
    
        </div> -->
    </div>
}

@else{
    <div class=" dashboardclass">
        <div class="">
            <h3 class="customfont">Welcome to Bank Of Baroda</h3>
        </div>
        <div class="">
            <span>Enjoy a whole host of functionalities at your convenience</span>
            <!-- <img [src]="dashboardimg" height="300" alt="Dashboard"> -->
    
        </div>
    </div>
}
