<mat-toolbar class="toolbar">
    <span>Dashboard</span>
    <span class="spacer"></span>
    <button mat-button style="color: #fff;">Export</button>
  </mat-toolbar>
  
  <div class="dashboard">
    <div class="summary-cards">
      <mat-card class="summary-card" *ngFor="let card of summaryCards">
        <mat-card-title>{{ card.title }}</mat-card-title>
        <mat-card-content>
          <h2>{{ card.value }}</h2>
          <p>{{ card.change }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div class="chart-container">
      <div class="chart">
        <ngx-charts-bar-vertical [results]="totalRevenueData" [scheme]="colorScheme"></ngx-charts-bar-vertical>
      </div>
      <div class="chart">
        <ngx-charts-line-chart [results]="customerSatisfactionData" [scheme]="colorScheme"></ngx-charts-line-chart>
      </div>
    </div>
  </div>