.product-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
  }
  .search-box {
    width: 100%;
    max-width: 500px;
    padding: 1.5rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .img_box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .full-width {
    width: 100%;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    width: 100%;
    max-width: 1200px;
  }
  
  .product-card {
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }
  
  .product-image {
    height: 180px;
    object-fit: cover;
    border-bottom: 2px solid #f1f1f1;
  }
  .forestgreen-button {
    background-color: forestgreen !important;
    color: white !important;
  }
  
  .forestgreen-button:hover {
    background-color: #228b22 !important; /* Darker green on hover */
  }
  
  .brand,
  .category,
  .description {
    font-size: 0.9rem;
    color: #666;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1e88e5;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
  