.green-status {
  color: #027a48;
  background-color: #ecfdf3;
  font-weight: bold;
  // padding: 5px 10px;
  font-size: 12px;
}

.red-status {
  background-color: #f7b0aa;
  color: #e02013;
  font-weight: bold;
  // padding: 5px 10px;
  font-size: 12px;

}

.yellow-status {
  background-color: #fff3e0;
  color: #ff6b11;
  font-weight: bold;
  // padding: 5px 10px;
  font-size: 12px;

}

.track-btn {
  background-color: #ff6b11;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.track-btn:hover {
  background-color: #dc8854;
}

.status {
  display: flex;
  border-radius: 18px;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.dot {
  margin-top: -2px;
  margin-right: 5px;
  font-size: 35px;
  color: currentColor;
}



.search_download_div {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.form-row1 {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.input-group {
  width: 25%;
  display: flex;
  border: 1px solid;
  height: 44px;

}

.icon {
  margin-right: 7px;
  margin-top: 11px;
  margin-left: 7px;
}

.btn-custom {
  background: var(--COLORS-Secondary-400, #555555);
  color: white;
  height: 40px;
  margin-right: 17px;
  margin-top: 10px;
  border-radius: 5px;
}

.matformfield_input {
  width: 400px;
}

::ng-deep .mat-elevation-z8 {
  box-shadow: none;
}

.input_class {
  border: none;
  outline: none;
}

tr,
td {
  height: 70px;
}

@media screen and (max-width: 900px) {

  .search_download_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .input-group {
    width: 319px;

  }

  .table-container {
    width: 100%;
    overflow-x: auto;
  }

  td,
  th {
    white-space: nowrap;
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}


.customFontn{
  font-family: montserrat, arial, verdana;
}


th{
  font-weight: 600;
}