.search-card {
  padding: 16px;
  margin-bottom: 20px;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: forestgreen;
  color: #fff;
  border-radius: 20px;
}
.search-section {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 12px;
}

.full-width {
  width: 100%;
}

.button-group {
  display: flex;
  gap: 10px;
}

.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.no-data-image {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}
.login-button:enabled {
  background: #2d7a4b;
  color: white;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.login-button:disabled {
  background: #b0c4b1;
}