<div class="search_download_div">
  
    <div class="input-group mb-3" >
        <mat-icon class="icon">search</mat-icon>
      <input
        matInput
        type="text"
        placeholder="Search"
        #input
        (keyup)="applyFilter($event)"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="basic-addon1"
        class="input_class"
      />
    </div>   
  
    <div>
      <button (click)="downloadJsonArrayToCsv('viewUser')" class="btn-custom">
        <svg
          width="14"
          height="17"
          viewBox="0 0 14 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.59 6H10V1C10 0.45 9.55 0 9 0H5C4.45 0 4 0.45 4 1V6H2.41C1.52 6 1.07 7.08 1.7 7.71L6.29 12.3C6.68 12.69 7.31 12.69 7.7 12.3L12.29 7.71C12.92 7.08 12.48 6 11.59 6ZM0 16C0 16.55 0.45 17 1 17H13C13.55 17 14 16.55 14 16C14 15.45 13.55 15 13 15H1C0.45 15 0 15.45 0 16Z"
            fill="#FEFEFE"
          />
        </svg>
  
        Export as CSV
      </button>
    </div>
  </div>
  <div class=" table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container
        [matColumnDef]="column"
        *ngFor="let column of displayedColumns"
      >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="colnamme mathfont">{{ column }}</span>
        </th>
  
        <td mat-cell *matCellDef="let row" class="mathfont">
          <div
            *ngIf="column != 'APPICONURL'"
            class="rwostylll"
            matTooltipClass="customTooltip"
            #tooltip="matTooltip"
            cdkScrollable
            [matTooltip]="row[column]"
            matTooltipPosition="above"
          >
            <span
              class="status"
              *ngIf="column === 'Status'"
              [ngClass]="{
                'green-status': row[column] === 'Approved',
                'red-status': row[column] === 'Rejected',
                'yellow-status': row[column] === 'Pending'
              }"
            >
              <p class="dot">.</p>
              {{ row[column] }}
            </span>  
            <span
              *ngIf="
                column !== 'Status' &&
                column !== 'Action'
              "
            >
              {{ row[column] }}
            </span>
          </div>
  
          <button
            *ngIf="column === 'Action' && row[column] === 'Track'"
            class="track-btn"
          >
            {{ row[column] }}
          </button>
          <div
          *ngIf="column == 'Action' && (userType=='ROLE_BOB_CHECKER' || userType=='ROLE_ADMIN')"          class="rwostylll"
          matTooltipClass="customTooltip"
          #tooltip="matTooltip"
          cdkScrollable
          [matTooltip]="row[column]"
          matTooltipPosition="above"
        >
          <ng-container stickyEnd>
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              style="
                border: none;
                background-color: white;
                font-size: 18px;
                font-weight: 500;
              "
            >
              :
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openEditModal('reject',row)">
                <mat-icon style="color: red">close</mat-icon>Reject
              </button>
              <button mat-menu-item (click)="openEditModal('approve',row)">
                <mat-icon>done_all</mat-icon>Approve
              </button>
            </mat-menu>
          </ng-container>
        </div>

        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  
  </div>  
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
  <ng-template #confirmMessage >
    <div *ngIf="showReject" class="container">
        <div class="container1">
            <div class="modal_heading mathfont">Reson for Rejection</div>
        </div>
        <div [formGroup]="rejectForm">
          <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label mathfont">Remarks</label>
              <textarea class="form-control" formControlName="remarks" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="btns">
              <button type="button" style="border: none;" [disabled]="rejectForm.invalid"
              (click)="updateUser('REJECTED')" class="btn btn-danger update_btn mathfont">Reject</button>
              <button type="button" style="border: none;" (click)="closeModal()" class="btn btn-light update_btn mathfont">Cancel</button>
          </div>       

        </div>
    </div>
    <div *ngIf="!showReject" class="container">
        <div class="container1">
            <div class="mb-3 mt-3">
                <label for="exampleFormControlTextarea1" class="form-label aprv_div mathfont">Are you sure for approve?</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="d-flex justify-content-center text-center">
                <div class="col-md-3">
                    <button type="button" style="border: none;" (click)="updateUser('APPROVED')" class="btn btn-success update_btn mathfont">Approve</button>
                </div>
                <div class="col-md-3">
                    <button type="button" style="border: none;" (click)="closeModal()" class="btn btn-danger update_btn mathfont">Cancel</button>
                </div>

            </div>
        </div>
    </div>
    

  </ng-template>




  